# DB
POSTGRES_DB=postgres
POSTGRES_USER=--USER--
POSTGRES_PASSWORD=--PASSWORD--
DB_PORT=0000
DB_HOST=--SERVICE_NAME--

# Data Caching
CACHE_HOST=--SERVICE_NAME--
CACHE_PORT=0000
VALKEY_USER=--USER--
VALKEY_PASSWORD=--PASSWORD--

# API
API_PORT=0000
